@import "tailwindcss";
.neumorphic-card {
  box-shadow: 5px 5px 8px hsl(220, 13%, 70%), -5px -5px 8px hsl(220, 13%, 100%);
}
.neumorphic-input {
  box-shadow: inset 4px 4px 6px hsl(220, 13%, 70%),
    inset -4px -4px 6px hsl(220, 13%, 100%);
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
